/*Основной цвет текста color: #757575;  */
/* Цвет текста #212121 */
/* Фон навигации, заголовок, карточки, адрес #FFFFFF */
/* Инфа футера rgba(255, 255, 255, 0.6); */
/* Фон секции услуги #E5E5E5 */
/* Фон секции команда #F5F4FA */
/* Фон секции кнопка, футер #2F303A */
/* Акцент #2196F3 */
/* Серый #EEEEEE */

/* Шрифты Raleway 700 
Roboto 400 500 700 900
*/
:root {
  --title-color: #212121;
  --text-color: #757575;
  --white: #ffffff;
  --main-white: #e5e5e5;
  --footer-white: rgba(255, 255, 255, 0.6);
  --grey-color: #f5f4fa;
  --brand-color: #2f303a;
  --accent: #2196f3;
  --grey: #eeeeee;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  margin: 0;

  background-color: var(--white);
  color: var(--text-color);

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.header-wrapper {
  display: flex;
  align-items: center;
  height: 80px;
}

/* ЛОГТОТИП */

.logo-header {
  margin-right: 93px;
  color: var(--title-color);

  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
}

.logo-footer {
  display: inline-block;
  padding-top: 60px;
  color: var(--white);

  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
}

.logo-colored {
  color: var(--accent);
}

/* НАВИГАЦИЯ */

.nav-list {
  display: flex;
}

.info-list {
  display: flex;
  margin-left: auto;
}

.pages {
  color: var(--title-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.pages:hover,
.pages:focus {
  color: var(--accent);
}

.contacts {
  color: var(--text-color);

  text-decoration: none;
}

.contacts:hover,
.contacts:focus {
  color: var(--accent);
}

.pages-item:not(:last-child),
.contact-item:not(:last-child) {
  margin-right: 50px;
}

/* КНОПКА ЗАКАЗА */

.service {
  background-color: var(--brand-color);

  text-align: center;
  height: 600px;
}
.offer {
  margin: 0 auto 30px;
  padding-top: 200px;
  color: var(--white);

  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  background-color: var(--accent);
  color: var(--white);
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;

  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}

/* ЦЕННОСТИ КОМПАНИИ */

.advantages {
  background-color: var(--white);
  margin-top: 94px;
}

.hide {
  display: none;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
}

.advantages-list-item {
  width: 270px;
}

.advantages-list-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-points {
  color: var(--title-color);

  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
}

.advantages-description {
  margin-top: 10px;
}

/* УСЛУГИ */

.proposal {
  background-color: var(--white);
}

.proposal-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.proposal-photo:not(:last-child) {
  margin-right: 30px;
}

.title {
  color: var(--title-color);

  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

/* КОМАНДА КОМПАНИИ */

.team {
  background-color: var(--grey-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.worker:not(:last-child) {
  margin-right: 30px;
}

.name {
  margin-top: 30px;
  color: var(--title-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.busyness {
  margin-top: 10px;
  line-height: 19px;
  text-align: center;
}

/* ПОДВАЛ СТРАНИЦЫ */

.footer {
  background-color: var(--brand-color);
}

.address-list {
  margin-top: 25px;
  padding-bottom: 60px;
}

.address {
  color: var(--white);

  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
}

.info {
  display: inline-block;
  margin-top: 10px;
  color: var(--footer-white);

  text-decoration: none;
  font-style: normal;
}

/* ФИЛЬТР ПРЕДЛОЖЕНИЙ */

.button-list {
  display: flex;
  justify-content: center;
}

.button-filter {
  background-color: var(--grey);
  color: var(--title-color);
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}

.button-list-item:not(:last-child) {
  margin-right: 30px;
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--accent);
  color: var(--white);
}

/* КАРТОЧКИ */

.card-list {
  margin-top: 56px;
  display: flex;
  flex-wrap: wrap;
}

.card-list-item {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 30px;
}

.card-list-item:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}

.card-list-item:nth-child(7),
.card-list-item:nth-child(8),
.card-list-item:nth-child(9) {
  margin-bottom: 0;
}

.product-card {
  text-decoration: none;
}
.card-name {
  color: var(--title-color);

  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.card-text {
  color: var(--text-color);

  font-size: 16px;
  line-height: 30px;
}
